################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

ASL_project.sln
myflaskapp/outputs
myflaskapp/backup
myflaskapp/__pycache__
myflaskapp/.venv
myflaskapp/venv
